body 
{
    font-family: courier;
    text-align: center;
    color:#333;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#container h1 
{
    color:rgb(5, 77, 82);
    font-size: 3rem;
}

#container 
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}